* {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: rgb(22, 50, 66);
}

a {
  text-decoration: none;
  color: white;
}

span.center {
  text-align: center;
}

.hide {
  display:none;
}


/* Header [start] */
header {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
}

header a {
  padding-inline: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-hdr {
  width: 180px;
  height: auto;
  padding: 10px;
}

.material-symbols-rounded {
  color: white;
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

.nav {
  display: none;
}

.nav-btn {
  border: none;
  background-color: transparent;
}

.page-link:focus,
.page-link:hover {
  color: rgb(75, 162, 227);
  transition: 0.4s;
  /* color: rgb(255, 178, 107); */
}

.contact-link {
  background-color: rgb(75, 162, 227);
  padding: 5px 10px;
  border-radius: 5px;
}

.contact-link:focus,
.contact-link:hover {
  box-shadow: 0px 0px 20px 2px #000000;
  transition: 0.4s;
}

#quick-links {
  text-align: right;
  padding: 12px;
  font-size: 28px;
  align-content: center;
  justify-content: flex-end;
  flex: 100%;
}

.intro-logo {
  display: none;
}
/* Header [end] */
/* ----------------------------------------- */


/* Footer [start] */
footer {
  color: white;
  padding-top: 64px;
}

input,
textarea {
  padding-top: 8px;
  margin-top: 10px;
  inline-size: 35dvw;
  max-width: 600px;
  min-width: 200px;
  border: none;
  outline: transparent none none;
  border-radius: 5px;
  text-indent: 5px;
  font-size: 110%;
}

footer .message {
  block-size: 120px;
  text-wrap: wrap;
  resize: none;
}

footer button {
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: transparent none;
  background-color: rgb(255, 178, 107);
  inline-size: 35dvw;
  max-inline-size: 100px;
  min-inline-size: 10px;
  padding: 10px;
  font-size: medium;
}

footer button:hover,
footer button:focus {
  transition: 0.3s;
  /* padding: 11px; */
  background-color: #ffffff;
}

.company-info {
  padding-left: 2dvw;
}

.logo-ft {
  width: 45dvw;
  min-width: 200px;
  max-width: 500px;
  height: auto;
  margin-left: -10px;
}

.material-icons {
  font-size: 15px;
  vertical-align: middle;
}

.legal {
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
  padding-top: 15px;
}

.copyright {
  text-align: center;
  padding: 25px;
}
/* Footer [end] */
/* ----------------------------------------- */

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

.item {
  flex: 100%;
  /* padding: 20px 10px;
margin: 5px; */
}

.base-text {
  font-size: 130%;
  margin: 0px 20px;
}

.image-column {
  background-image: url("/assets/images/matthieu-beaumont-iYnpYeyu57k-unsplash.jpg");
  background-size: cover;
  margin: 50px;
  border-radius: 20px;
}

.intro-text {
  font-size: calc(16px + 0.7dvw);
  justify-content: start;
  text-align: left;
  margin-right: 50px;
  color: rgb(54 65 83);
}

.intro-heading {
  font-size: calc(15px + 5.5dvw);
  font-weight: 500;
}

.sub-heading {
  font-size: calc(16px + 2dvw);
}

.parallax {
  background-color: rgba(0, 0, 0, 0.272);
  /* background-color: rgb(10, 167, 188); */
  background-blend-mode: darken; 
  background-image: url("/assets/images/gebhartyler-AQpOwYbm_Jg-unsplash.jpg");
  /* background: linear-gradient(rgb(85, 17, 154),rgb(102, 43, 43)) url("/assets//images/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg"); */
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* filter: blur(75px); */
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 15px;
}

.flex-item {
  /* background-color: #5656569b; */
  background-color: #b7b7b74f;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgb(19, 19, 19);
  padding: 10px 0px 0px 0px;
  margin: 20px;
  min-height: 400px;
  height: 33dvw;
  max-height: 800px;
  width: 27dvw;
  backdrop-filter: blur(65px);
}

.flex-item-img {
  text-align: center;
}

.flex-item-heading {
  font-weight: 700;
}

.flex-item-p {
  margin: auto;
  width: 25dvw;
}

.repeater-img {
  /* overflow: hidden; */
  border-radius: 5px;
  width: 25dvw;
  height: auto;
}

.repeater-heading {
  font-size: calc(16px + 0.7dvw);
}

.repeater-p {
  text-align: center;
  font-size: calc(12px + 0.5dvw);
}

/* .arrow-button {
display:none;
border: none;
background: none;
} */

#introduction {
  /* background-image: url("/assets/images/patrick-tomasso-5eZu5p0vSPg-unsplash.jpg");
  background-color: rgba(255, 255, 255, 0.72);
  background-blend-mode: lighten; */
  background: linear-gradient(rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 0.72)), url("/assets/images/patrick-tomasso-5eZu5p0vSPg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: rgb(21, 49, 64);
}

#services-container {
  display: flex;
  flex-flow: column wrap;
  /* background-color: rgba(208, 168, 34, 0.837); */
  /* background-color: rgba(102, 133, 148, 0.837); */
  /* background-color: rgb(45, 93, 115); */
  /* padding: 40px 0px; */
}

#services {
  padding: 40px 0px;
  margin-bottom: 1dvw;
  border-bottom: 0.5px solid #000000;
  /* background-color: #5a5a5a33; */
  /* background: linear-gradient(to bottom, #5a5a5a33, transparent 100%); */
  backdrop-filter: blur(10px);
}

#slogan {
  background-color: rgb(45, 93, 115);
  color: white;
  width: auto;
  height: max-content;
  padding: 64px 0px;
}

#about {
  display: flex;
  flex-flow: column wrap;
  background-color: #c5c5c5;
  padding-bottom: 2%;
  color: rgb(22, 50, 66);
}

/* LEGAL */
.doc-container {
  display: flex;
  flex-flow: column wrap;
  background-color: #ffffff;
  color: rgb(22, 50, 66);
  text-align: left;
  padding: 0px 10px 25px 10px;
}

.doc-container a {
  color: rgb(22, 50, 66)
}

.doc-item {
  font-size: large;
  margin: 25px;
}

.doc-item ul {
  list-style-type: disc;
}

/* ----------------------------------------- */

/* Mobile Screen */
@media screen and (max-width: 800px) {
  * {
    align-content: center;
    text-align: center;
    padding: unset;
  }

  header {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  header a {
    display: flex;
  }

  input,
  textarea {
    text-align: justify;
    inline-size: 70dvw;
  }

  .flex-hdr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between
  }

  /* .flex-hdr-item{
justify-content: ;
} */

  .header-logo {
    display: none;
  }

  .intro-logo {
    display: block;
    height: auto;
    width: 60dvw;
    margin: auto;
  }

  .nav {
    display: contents;
  }

  #quick-links {
    display: none;
    font-size: 16px;
    border-top: 1px solid #0000001a;
    margin-top: 10px;
  }

  #quick-links a {
    padding: 0px;
  }

  .contact-link {
    background-color: transparent;
    padding: 0px;
  }

  .contact-link:focus,
  .contact-link:hover {
    box-shadow: none;
    color: rgb(75, 162, 227);
    transition: 0.4s;
  }

  .intro-text {
    text-align: center;
    margin-right: auto;
  }

  .image-column {
    display: none;
  }

  .container {
    flex-flow: column wrap;
  }

  .item {
    flex: 100%;
  }

  .flex-container {
    flex-flow: row wrap;
    display: flex;
    justify-content: baseline;
    text-align: center;
  }

  .flex-item {
    position: relative;
    flex: none;
    width: 70dvw;
    height: 50dvw;
    min-height: 0px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 1px rgb(32, 32, 32);
  }

  .flex-item-heading {
    background-color: #ffffffe9;
    color: #000000;
    font-weight: bolder;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .flex-item-p {
    display: none;
  }

  .repeater-img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .repeater-heading {
    font-size: calc(12px + 1.2dvw);
  }

  .tht {
    display: none;
  }

  .base-text {
    font-size: medium;
  }

  /* .arrow-button {
display:contents;
} */

  /* #services-container {
padding: 0px;
} */

  .company-info {
    padding-left: 0px;
  }

  .logo-ft {
    margin-left: 0px;
  }

  .doc-container {
    text-align: justify;
  }

  .doc-item p {
    text-align: justify;
  }

  .doc-item li {
    text-align: justify;
    /* text-indent: 10px; */
  }

  .doc-item ul li {

    text-indent: 10px;
    list-style-position: inside;
  }
}